<?xml version="1.0"?>
<!-- 
    注意: 除了手動編輯此檔案以外，您還可以使用 
    Web 管理工具來組態套用程式的設定。可以使用 Visual Studio 中的
     “網站”->“Asp.Net 組態”選項。
    設定和注解的完整清單在 
    machine.config.comments 中，該檔案通常位於 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            設定 compilation debug="true" 將除錯符號插入
            已編譯的頁面中。但由於這會 
            影響效能，因此只在開發過程中將此值 
            設定為 true。
        -->
		<compilation debug="true"/>
		<!--
            透過 <authentication> 節可以組態 ASP.NET 使用的 
            安全身份驗證模式，
            以標誌傳入的使用者。 
        -->
		<authentication mode="Windows"/>
		<!--
            若果在執行請求的過程中出現未處理的錯誤，
            則透過 <customErrors> 節可以組態對應的處理步驟。實際說來，
            開發人員透過該節可以組態
            要顯示的 html 錯誤頁
            以代替錯誤堆堆疊追蹤。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
