<style type="text/css">
<!--
td{
	font-size: 9pt;
	color: #007766;
}
input{
	font-size: 9pt;
	color: #003399;
	font-family:宋體;
	border:'1px' 'dashed' '#999999';
	background:#EEEEEE;	
}
.td1  {
	font-size: 12pt;
	font-family:黑體;
}
.botton1  {
	background:#FFFFFF;
	font-weight:bold;
	width:50px;
}
-->
</style>