<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--
td {
	font-size: 9pt;	color: #000000;
}
a:hover {
	font-size: 9pt;	color: #FF0000;
}
a {
	font-size: 9pt;	text-decoration: none;	color: #000000;
}

body {
	margin:0px;
	/*background-image:url(images/background.gif);*/
}

image{
border:0px;
}
.ToolTip {
	filter:Alpha(Opacity=50,style=1,Finishopacity=80);BORDER: #ff8c00 1px solid; BACKGROUND-COLOR: #FFFFFF;
}
-->